<%- include("./partials/header.ejs"); -%>
    <h1>Search Posts By Name</h1>
    <form action="/posts" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Post's Name</label>
            <input type="text" name="postTitle" class="form-control" id="title" aria-describedby="emailHelp" autocomplete="off">
    
        </div>
        
    
        <button type="submit" class="btn btn-primary compose-button">Search</button>
    </form>
<%- include("./partials/footer.ejs"); -%>